@model voLAWNteer.Models.Lawn

@{
    ViewData["Title"] = "Create";
}

<img id="logo" src="~/logo.png" />

<body id="homeBody">
    <div>
        <h3>Our Service</h3>
        <p>
            We know that your home is your investment. You’re proud of it and you want to do everything you can to maintain it to the highest possible level. This can be hard work when you have difficulty with your mobility or even don’t have the funds to pay someone to do it. No need to worry anymore, as voLAWNteer will take care of all of that for you for FREE . We take pride in every single lawn we tend to and make sure once we are done with it you are left with a smile on your face.
        </p>
        <h3>The services that we offer you include:</h3>
        <ul>
            <li>Lawn Mowing & Weed-eating</li>
            <li>Snow-Shoveling</li>
            <li>Leaf Raking</li>
        </ul>
        <h3>Who is eligible and what we ask:</h3>
        <ul>
            <li>We review eligibility on a case-by-case basis, but primariliy consider physical ability, personal finances, personal recommendations, and the property</li>
            <li>You should be on-site during service</li>
            <li>We like to use photos of you and your beautiful lawn in our marketing with your blessing</li>
        </ul>
        <h3>Why Should You voLAWNteer?</h3>
        <p>
            voLAWNteer is designed to promote awareness to the growth and care of your community. It is a platform where the members of the community can give back to friends, family, and stranger alike. They get the chance to offer services such as mowing lawns, shoveling snow, raking leaves and more, free of charge. Volunteers are able to experience a great sense of achievement while also developing their compassion for others. We also provide community service hours and letters to anyone who has a use for those in school or otherwise.
        </p>
        <h3>Want to Get Involved?</h3>
        <p>
            Contact any member of voLAWNteer to get started today! We will explain how our process works and let you go to Town, literally! We will check in periodically with you and with clients to maintain standards, but we want this program to be a compassion project for you and the ones you help, so take ownership and enjoy yourselves.
        </p>
    </div>


    <h4>Submit a Lawn Below</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StreetAddress" class="control-label"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}