@model voLAWNteer.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h1>Finalize</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>This lawn listing is almost ready to add to the Lawns Queue. <br />
            Click to finalize.</p>
            <div class="form-group">
                <input type="submit" value="Finalize" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
